body {
  background-color: rgb(68,68,68);
  color: white;
}

h1 {
  text-align: center;
  color: #f04500;
  font-weight: bold;
}

.option {
  text-align: center;
  border: solid white;
  width: 150px;
  margin: 20px auto;
  font-size: 21px;
  cursor: pointer;
}

.tab {
  text-align: center;
  margin: 20px auto;
}

button {
  /* decoration: none; */
  cursor: pointer;
  background: rgb(68,68,68);
  color: rgb(255, 153, 102);
  border: solid rgb(255, 153, 102);
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
}

.result {
  background: rgba(0, 0, 0, 0.8);
  border: solid white;
  width: 600px;
  margin: 20px auto;
}

.result .times {
  font-size: 35px;
  position: relative;
  float: right;
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
}

.result .app-output {
  margin: 10px auto;
  font-size: 35px;
  text-align: center;
  overflow-wrap: break-word;
}
